:root {
  --bg-main-color: #1abc9c;
  --bg-color: #2c3e50;
  --text-color: white;
  --sec-bg-color: #1a252f;
}

.star .line-one,
.star .line-two {
  height: 4px;
  width: 80px;
  background-color: var(--text-color);
}
